/* CSS for player container styles */

.header,
h3 {
  text-align: center;
  margin-top: 10px;
}
.player-container {
  background-color: #cfcfcf;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center; /* Center the players horizontally */
  padding: 4.5%;
}

.playerContainer {
  width: calc(17% - 46px); /* Adjusted width for five cards in a row */
  height: 350px;
  perspective: 1000px;
  margin: 25px;
  position: relative;
  border-radius: px;
  background-color: #fafafa; /* A little darker than white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  transition: transform 0.3s ease;
}

.playerContainer:hover {
  transform: translateY(-5px); /* Add hover effect */
}

.playerContainerInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.playerContainer:hover .playerContainerInner {
  transform: rotateY(180deg);
}

.playerContainerFront,
.playerContainerBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.playerContainerFront {
  z-index: 2;
}

.playerContainerBack {
  background-color: white; /* Background color for the back side */
  color: black; /* Text color for the back side */
  transform: rotateY(180deg);
}

.playerContainerInner .playerContainerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 10px;
}

.playerContainerInner .playerContainerBack h2 {
  margin-top: 0;
}

.playerContainerInner .playerContainerBack ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.playerContainerInner .playerContainerBack li {
  margin-bottom: 5px;
}

/* Style for player image */
.playerContainerInner .playerContainerFront img {
  width: 100%;
  height: 60%; /* Take up the upper half of the front side */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Rounded corners for top */
}

/* Style for player name */
.playerContainerInner .playerContainerFront .playerContainer-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.playerContainerInner .playerContainerFront p {
  margin: 0;
}
